# Ignore list for KiCAD Projects# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache# Netlist files (exported from Eeschema)
*.net# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Python virtual environments
.venv

# Other
.vscode/
__pycache__/
Scope_Firmware/Python/pythonApi/sensor_data/
Scope_Firmware/Python/pythonApi/TEST_sensor_data/
Scope_Firmware/Python/pythonApi/settings/prompt_history.txt
Scope_Firmware/Python/pythonApi/display
